In [1]:
1+1

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20201018225947-0000
KERNEL_ID = 9c2db4ae-b14c-4ddd-9bb3-e83853acc87d

2

In [2]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_f4929b4125df470ba83ad32760b72a14 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='7XlR9hdZ7nWycNbcKYibqNoqGuQl_Uayi4k7fBcUm2nS',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_f4929b4125df470ba83ad32760b72a14.get_object(Bucket='letusplaydatasets-donotdelete-pr-fukxku6k3l2w0g',Key='ClassResults.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

      Name  Class Grade         DOB
0     Amit      5     A  12/22/1979
1  Vaibhav      6     B    3/4/1976
2     Prem      6     C    5/5/1986

In [6]:

body = client_f4929b4125df470ba83ad32760b72a14.get_object(Bucket='letusplaydatasets-donotdelete-pr-fukxku6k3l2w0g',Key='TopSellingAlbums.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0